type sysfs_camera, fs_type, sysfs_type;
type sysfs_vibeamp, fs_type, sysfs_type;
type sysfs_display, fs_type, sysfs_type;
type vcsFPService_data_file, file_type, data_file_type;
type sysfs_sec, fs_type, sysfs_type;
type sensors_efs_file, file_type;
type sysfs_proximity, fs_type, sysfs_type;
type wifi_efs_file, file_type;
type sysfs_wifi_nv_path, fs_type, sysfs_type;
type debugfs_rmts, debugfs_type, fs_type;
