allow mm-qcamerad camera_data_file:sock_file { create unlink };
allow mm-qcamerad camera_socket:sock_file { create unlink write };
allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;
allow mm-qcamerad sensorservice_service:service_manager find;
allow mm-qcamerad sysfs_graphics:file r_file_perms;

# Allow mm-qcamera-daemon to create the socket camera_socket
allow mm-qcamerad system_data_file:dir w_dir_perms;

binder_call(mm-qcamerad, servicemanager);
binder_use(mm-qcamerad);
set_prop(mm-qcamerad, diag_prop);
