allow priv_app bt_firmware_file:dir { open read };
allow priv_app device:dir { open read };
allow priv_app fuse_device:dir setattr;
allow priv_app fuse_device:file setattr;
allow priv_app net_dns_prop:file read;

# Do not audit priv-app access to prop service, it's forbidden anyways
dontaudit priv_app property_socket:sock_file write;
dontaudit priv_app init:unix_stream_socket connectto;

allow priv_app { camera_prop proc_interrupts }:file { open read };
allow priv_app camera_prop:file getattr;
allow priv_app proc_modules:file { getattr open read };
allow priv_app adsprpcd_file:filesystem getattr;

get_prop(priv_app, wifi_prop);
get_prop(priv_app, net_dns_prop);
get_prop(priv_app, camera_prop);
get_prop(priv_app, qemu_hw_mainkeys_prop);
