allow system_server binder_per_mgr_service:service_manager find;

allow system_server efs_file:dir search;
allow system_server efs_file:file r_file_perms;

allow system_server sysfs_mdnie:file rw_file_perms;

allow system_server persist_file:file r_file_perms;

allow system_server wcnss_filter:unix_stream_socket connectto;

r_dir_file(system_server, app_efs_file);

# ADB over network
allow system_server shell_prop:property_service set;

# trying to fix stuff
allow system_server qti_debugfs:file { getattr open read };

allow system_server unlabeled:file unlink;
allow system_server fuse_device:dir { open read getattr search };

allow system_server install_data_file:file getattr;

# /vendor/usr/keylayout
r_dir_file(system_server, idc_file);

# /vendor/usr/idc
r_dir_file(system_server, keylayout_file);
