allow vold persist_file:dir { r_dir_perms };

allow vold fuse_device:dir { open read write search add_name create };
allow vold fuse_device:file { open read write create };
